code {
  font-family: monospace;
  background-color: #1c1c1c;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  overflow-x: auto;
  line-height: 1.4;
  margin-bottom: 20px;
  text-indent: 0px;
}

.syntax-keyword {
  color: #0077aa;
  font-weight: bold;
}

.syntax-string {
  color: #22863a;
}

.syntax-number {
  color: #a67f59;
}

body {
  background-color: black;
  color: green;
  text-indent: 20px;
  font-family: monospace;
  font-size: 14px;
  margin: 80;
  padding: 80;
}

.subscribe-btn {
  background-color: #007bff; 
  color: white; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.subscribe-btn:hover {
background-color: #E5B80B;
}

.box {
   width: 100px;
   height: 100px;
   background-color: #f00;
   position: absolute;
}